.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--page-margin);
  padding-bottom: var(--page-margin);
  min-height: 60vh;
}

.formularioCentralizado {
  width: 100%;
  max-width: 600px;
}
